<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Feature.SharedComponents" description="Feature Shared Components" dependencies="Foundation.*" extends="Helix.Feature">
                    <predicate>
                        <include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Feature/SharedComponents" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>