<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <services>
            <configurator type="Hackathon.Foundation.DataAccess.Infrastructure.GlassMapperConfigurator, Hackathon.Foundation.DataAccess" patch:after="configurator[@type='Sitecore.Services.Infrastructure.Sitecore.DependencyInjection.ComponentServicesConfigurator, Sitecore.Services.Infrastructure.Sitecore']" />
        </services>
    </sitecore>
</configuration>