<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <services>
            <configurator type="Hackathon.Foundation.DependencyInjection.Infrastructure.MvcControllerServicesConfigurator, Hackathon.Foundation.DependencyInjection" patch:after="configurator[@type='Hackathon.Foundation.DataAccess.Infrastructure.GlassMapperConfigurator, Hackathon.Foundation.DataAccess']" />
        </services>
    </sitecore>
</configuration>