@using Sitecore.Mvc

@using Sitecore.Mvc.Analytics.Extensions

@{
    Layout = "SignupFormOuter.cshtml";
}

<header>
    @Html.Sitecore().Placeholder("header")
</header>
<main class="content" role="main">
    @Html.Sitecore().Placeholder("page-layout")
</main>
<footer>
    @Html.Sitecore().Placeholder("footer")
</footer>